<ion-header>
  <ion-row>
    <ion-col col-2 text-center>
      <ion-icon name="menu" menuToggle></ion-icon>
    </ion-col>

    <ion-col col-10>
      <ion-title text-center>Recent Tasks</ion-title>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding-vertical>
  <div *ngFor="let dates of history">
    <ion-list-header>{{dates.date}}</ion-list-header>
    <ion-list no-lines *ngIf="dates.tasks.length>0">

      <ion-card
        *ngFor="let task of dates.tasks | orderBy: 'id' : true ">

        <ion-card-header no-padding>
          <ion-item>
            <ion-grid (click)=" taskDetails (task)">
              <ion-row align-items-center>
                <ion-col col-8 no-padding>{{task.task_name }}</ion-col>
                <ion-col col-8 class="task-status" no-padding>{{task.project_name}}</ion-col>
                <ion-col col-8 class="task-status" no-padding>{{task.status}}</ion-col>
                <ion-col col-4 no-padding align-self-center text-end><span *ngIf="task.real_work_time">
              {{task.real_work_time | minuteSeconds}}</span></ion-col>
              </ion-row>
            </ion-grid>
            <ion-icon name="play"
                      item-end color="primary"
                      *ngIf=" task.finish_time"
                      (click)="startTimer(task)"></ion-icon>
            <ion-icon name="square"
                      item-end color="primary"
                      *ngIf="!task.finish_time"
                      (click)="stopTimer(task)"></ion-icon>
          </ion-item>
        </ion-card-header>

        <!--<ion-card-content *ngIf="task.showDesc">-->
          <!--{{task.description}}-->
        <!--</ion-card-content>-->

      </ion-card>

    </ion-list>
  </div>

  <ion-fab>
    <button ion-fab
            ngClass="play"
            (click)="selectProject()">
      <ion-icon name="play" no-padding></ion-icon>
    </button>
  </ion-fab>

</ion-content>


